<section id="skills" class="py-5 text-light">
  <div class="container text-center">
    <h2>Skills</h2>
    <div class="row">
      <div class="col-md-3">
        <i class="fab fa-angular fa-3x"></i>
        <p>Angular</p>
      </div>
      <div class="col-md-3">
        <i class="fab fa-node fa-3x"></i>
        <p>Node.js</p>
      </div>
      <div class="col-md-3">
        <i class="fas fa-database fa-3x"></i>
        <p>Database</p>
      </div>
      <div class="col-md-3">
        <i class="fab fa-aws fa-3x"></i>
        <p>Cloud (Azure)</p>
      </div>
    </div>
  </div>
</section>
