<section id="projects" class="py-5">
  <div class="container">
    <h2 class="text-center">My Projects</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="pexels-luis-gomes-166706-546819.jpg" class="card-img-top" alt="Project 1">
          <div class="card-body">
            <h5 class="card-title">Snake Game</h5>
            <p class="card-text">A brief description of the project and the tech used.</p>
            <a href="https://sumitgurav7.github.io/snake-game/" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="pexels-luis-gomes-166706-546819.jpg" class="card-img-top" alt="Project 1">
          <div class="card-body">
            <h5 class="card-title">3D Rendering</h5>
            <p class="card-text">A brief description of the project and the tech used.</p>
            <a href="https://sumitgurav7.github.io/three-js-poc/" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      <!-- Add more project cards here -->
    </div>
  </div>
</section>
