<div class="parallax">
<div class="container">
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/projects">Projects</a></li>
      <li><a routerLink="/skills">Skills</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>

  <!-- <router-outlet></router-outlet> -->

  <app-home></app-home>
  <app-about></app-about>
  <app-projects></app-projects>
  <app-skills></app-skills>
  <app-contact></app-contact>
</div>
</div>
